.attendanceOverlay {
  width: 40vw;
  background-color: rgba($color-white, 0.8);
  padding: 5rem;
  position: relative;
  @media screen and (max-width: 1400px) {
    width: 50vw;
  }
  @media screen and (max-width: 1200px) {
    width: 60vw;
  }
  @media screen and (max-width: 700px) {
    width: 70vw;
  }
  @media screen and (max-width: 500px) {
    width: 85vw;
  }

  &-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    color: $text-color;
    transition: all 0.3s;

    &:hover {
      color: rgba($text-color, 0.5);
      cursor: pointer;
    }
  }

  &-text {
    font-size: 2.3rem;
    font-family: "Poetsen One", sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    font-weight: normal;
    color: rgba($text-color, 0.8);
    margin: 3rem 0 5rem;
  }
}
