.attendanceOverlay {
    width: 40vw;
    background-color: rgba($color-white, 0.8);
    padding: 5rem;
    position: relative;
  
    &-icon {
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 3rem;
      color: $text-color;
      transition: all 0.3s;
  
      &:hover {
        color: rgba($text-color, 0.5);
        cursor: pointer;
      }
    }
  
    &-text {
      font-size: 2.3rem;
      margin: 1rem 0 2rem;
    }
  }
  