.dashboard {
  display: flex;
  &-left {
    flex-basis: 20%;
    background-color: rgba($text-color, 0.25);
    min-height: 70vh;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  &-left__mobile {
    display: none;
    width: 100%;

    @media screen and (max-width: 900px) {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
    }
  }

  &-right {
    flex-basis: 80%;
    padding: 4rem;

    @media screen and (max-width: 1200px) {
      padding: 2rem;
    }
    @media screen and (max-width: 900px) {
      flex: 1;
    }
  }
}
