.landing-page {
  display: grid;
  place-items: center;
  height: 100vh;

  &__container {
    width: 85%;
    display: flex;
    -webkit-box-shadow: 3px 5.5px 17.5px 27.5px #dddddd;
    -moz-box-shadow: 3px 5.5px 17.5px 27.5px #dddddd;
    box-shadow: 3px 5.5px 17.5px 27.5px #dddddd;
  }

  &__image {
    flex-basis: 55%;
  }

  &__form {
    flex-basis: 45%;
    padding: 2rem 8rem;
  }
  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__buttons {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    & button {
      cursor: pointer;
      padding: 1rem 3rem;
      font-family: "Pacifico", cursive;
      font-weight: bold;
      background-color: $color-white;
      border: none;
      color: $text-color;
      letter-spacing: 0.2rem;
    }

    & section {
      text-align: left;
    }
  }
}

.active-button {
  border-bottom: 0.4rem solid $text-color !important;
  border-left: 0.4rem solid $text-color !important;
  border-radius: 0.5rem;
}
